pillow==12.2.0
numpy==2.3.5
opencv-contrib-python==4.10.0.84
scipy
ultralytics
paddlepaddle-gpu==2.6.2
paddleocr>=3.7.0
paddlex>=3.7.0
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cudnn-cu11==8.9.5.29
safetensors
pyclipper==1.4.0
shapely==2.1.2
pyautogui
pydirectinput
mss
websocket-client
fastapi
uvicorn[standard]
psutil
